* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  border: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #404040;
  color: white;
}

header {
  background-color: #404040;
  width: 100%;
  text-align: center;
  padding: 2rem;
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 3rem;
  }
}

main {
  width: 100%;
}

.game_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  .game_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.game_container .game_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  .game_container .game_display {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.game_container .game_display div#image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100%;
}

.game_container .game_display div#image_container img {
  width: 150px;
}

@media only screen and (min-width: 764px) {
  .game_container .game_display div#image_container img {
    width: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .game_container .game_display div#image_container img {
    width: 250px;
  }
}

.game_container .game_display #word_to_guess {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  min-height: 2rem;
}

.game_container .game_display #hint {
  font-size: 0.8rem;
}

.game_container #guess_form {
  background-color: #404040;
  width: 100%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  .game_container #guess_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 30%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.game_container #guess_form input {
  border: solid black 1px;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.3rem;
  width: 7rem;
}

.game_container #guess_form #status {
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .game_container #guess_form #status {
    margin-bottom: 2rem;
  }
}

.game_container #guess_form button {
  margin-top: 0.5rem;
  font-weight: bold;
  padding: 1rem;
  width: 100px;
}
/*# sourceMappingURL=style.css.map */