//variables
$tablet: 764px;
$desktop: 1024px;
$primary: #ffff80; 
$lightgrey: #404040;

@mixin flex-complete($direction: row, $justify: space-between, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}  

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    border:0;
}

body{
    @include flex-complete(column,flex-start,center);
    background-color: $primary;
}

header{
    background-color: $primary;
    width: 100%;
    text-align: center;
    padding:2rem;
}

main{
    width:100%
}

.game_container{
    @include flex-complete(column,flex-start,center);

    div#image_container{
        @include flex-complete(column,center,center);
        padding-bottom: 2rem;
        background-color: white;
        width:100%;
        img{
            width:40%;
            @media only screen and (min-width: $tablet){
                width:150px;
            }
            @media only screen and (min-width: $desktop){
                width:250px;
            }
        }
    }
}

#guess_form{
    background-color: $primary;
    width:100%;
    padding:2%;
    @include flex-complete(column, flex-start, center);

    #word_to_guess{
        font-size: 1.5rem;
        padding-bottom:0.5rem;
    }
    input{
        border: solid black 1px;
        margin:1%;
        padding:1rem;
    }
    #status{
        padding:1rem;
        font-weight: bold;
    }
    button{
        margin-top: 0.5rem;
        font-weight: bold;
        padding:1rem;
    }
}

