.heading{
    background-color: $primary;
    padding: 24px;
    margin-top: 44px;
    h1{
        color: white;
        font-size: 28px;
        margin: 0 auto;
        max-width: $desktop-wide;
    }
}