@mixin flex-direction($direction: row) {
  -ms-flex-direction: $direction;
      flex-direction: $direction;
}

@mixin flex-justify($justify: space-between) {
  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
}

@mixin flex-align($align: center) {
  -webkit-box-align: $align;
  -ms-flex-align: $align;
  align-items: $align;
}

@mixin flex-complete($direction: row, $justify: space-between, $align: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @include flex-direction($direction);
  @include flex-justify($justify);
  @include flex-align($align);  
}